<!--userform.html-->
<div class="w-4/5 pt-0 overflow-x-auto relative shadow-md sm:rounded-lg">

    <h2 class="text-red-600 text-2xl py-2">{{ .subtitle }}</h2>

    <form id="edit_form" 
            hx-{{.action}}="/appointments/{{.appointment.ID }}"
            hx-trigger="submit"
            hx-target="#action_content"> 
        
            
            <div class="mb-6">
                <label for="ID" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">ID</label>
                <input type="text" name="ID" id="ID" value="{{.appointment.ID }}" class="bg-gray-100 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" disabled readonly>
            </div>
            
        
            
            <div class="mb-6">
                <label for="Name" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Name</label>
                <input type="text" name="Name" id="Name" value="{{.appointment.Name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="User Name" required>
            </div> 
            
        
            
        
            
        
            
        
            
            <div class="mb-6">
                <label for="Status" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Status</label>
                <input type="text" name="Status" id="Status" value="{{.appointment.Status }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="User Name" required>
            </div> 
            
        
            
            <div class="mb-6">
                <label for="Appt_Date" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Appt_Date</label>
                <input type="text" name="Appt_Date" id="Appt_Date" value="{{.appointment.Appt_Date }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="User Name" required>
            </div> 
            
        
            
            <div class="mb-6">
                <label for="Appt_Time" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Appt_Time</label>
                <input type="text" name="Appt_Time" id="Appt_Time" value="{{.appointment.Appt_Time }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="User Name" required>
            </div> 
            
        

        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Save</button>
    </form>    

</div>