<!--appointment_list.html-->

    <div class="w-4/5 pt-0 overflow-x-auto relative shadow-md sm:rounded-lg">

        <table class="w-full text-base text-left text-gray-500 dark:text-gray-400">
            <thead class="text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr class="border-b-2 border-red-400">
                    
                    <td class="py-4 px-6"><h2 class="text-red-600 text-2xl py-2">{{ .subtitle }}</h2></td>
                    
                    <!-- <td></td> -->
                    
                    <!-- <td></td> -->
                    
                    <td><form id="edit_form" 
                            hx-post="/available/html"
                            hx-trigger="submit"
                            hx-target="#availables"> 
                        <label for="FacilityID" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">FacilityID</label>
                        <input type="number" name="FacilityID" id="FacilityID" value="{{.appointment.FacilityID }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0" required>
                    </td>
                    
                    <!-- <td></td> -->
                    
                    <!-- <td colspan="2"> -->
                    <td>
                        <label for="ReqDate" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Appt_Date</label>
                        <input type="text" name="ReqDate" id="ReqDate" value="{{.appointment.Appt_Date }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="2025-01-01" required>
                    </td>
                    
                    <td>
                        <label for="ReqTimeRange" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Time Range</label>
                        <!-- <input type="text" name="ReqTimeRange" id="ReqTimeRange" value="{{.appointment.Appt_Time }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Time Preference" required> -->
                        <select name="ReqTimeRange" id="ReqTimeRange" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                            <option value="early_morning">Early Morning (7am-9am)</option>
                            <option value="late_morning">Late Morning (9am-12pm)</option>
                            <option value="early_afternoon">Early Afternoon (12pm-3pm)</option>
                            <option value="late_afternoon">Late Afternoon (3pm-5pm)</option>
                            <option value="evening">Evening (5pm-7pm)</option>
                        </select>
                    </td>                    
                    
                    <td class="py-4 px-6">
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Search</button>

                        </form>    
                    </td>
                </tr>
                <tr>
<!--                     
                    <th scope="col" class="py-3 px-6">
                        ID 
                    </th>
                    
                    <th scope="col" class="py-3 px-6">
                        Name 
                    </th> -->
                    
                    <th scope="col" class="py-3 px-6">
                        FacilityID 
                    </th>
                    
                    <!-- <th scope="col" class="py-3 px-6">
                        ResourceID 
                    </th>
                    
                    <th scope="col" class="py-3 px-6">
                        UserID 
                    </th>
                    
                    <th scope="col" class="py-3 px-6">
                        Status 
                    </th> -->
                    
                    <th scope="col" class="py-3 px-6">
                        Appt_Date 
                    </th>

                    <th></th>
                    
                    <th scope="col" class="py-3 px-6">
                        Appt_Time 
                    </th>
                    
                    <th scope="col" class="py-3 px-6">
                        Action
                    </th>

                </tr>
            </thead>
            <tbody id="availables">
                {{ range .appointments  }}
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
<!--                     
                    <td class="py-4 px-6">
                        {{ .ID }}
                    </td>
                    
                    <td class="py-4 px-6">
                        {{ .Name }}
                    </td> -->
                    
                    <td class="py-4 px-6">
                        {{ .FacilityID }}
                    </td>
                    
                    <!-- <td class="py-4 px-6">
                        {{ .ResourceID }}
                    </td>
                    
                    <td class="py-4 px-6">
                        {{ .UserID }}
                    </td>
                    
                    <td class="py-4 px-6">
                        {{ .Status }}
                    </td> -->
                    
                    <td class="py-4 px-6">
                        {{ .Appt_Date }}
                    </td>
                    
                    <td class="py-4 px-6">
                        {{ .Appt_Time }}
                    </td>

                    <td></td>
                    
                    <td class="py-4 px-6">
                        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                        hx-get="/appointment_form/{{ .ID }}"
                        hx-trigger="click"
                        hx-target="#action_content">Select</button>   

                    </td>
                </tr>
                {{ end }}

            </tbody>
        </table>
    </div>
