<!--appointment_list_body.html-->
            <!-- <tbody id="availables"> -->

                {{ range .appointments  }}
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">

                    <td class="py-4 px-6">
                        {{ .FacilityID }}
                    </td>
                    
                    <td class="py-4 px-6">
                        {{ .Appt_Date }}
                    </td>

                    <td></td>  

                    <td class="py-4 px-6">
                        {{ .Appt_Time }}
                    </td>

                    
                    <td class="py-4 px-6">
                        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                        hx-post="create_selected_appointment/html/{{ .FacilityID }}/{{ .Appt_Date }}/{{ .Appt_Time }}"
                        hx-trigger="click"
                        hx-target="#action_content">Select</button>   

                    </td>
                </tr>
                {{ end }}

            <!-- </tbody> -->
