<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <h1 class="text-red-600 text-3xl py-6">JK Demo Apps</h1>

  






  <!-- <div class="grid h-screen place-items-center"> -->
  <div class="flex items-center justify-center pt-24 w-full">


    <div class="w-1/2 bg-white p-6">
      <h2 class="text-red-600 text-2xl py-2">Simplified Apps to Support Demo Development</h2>

      <p class="text-xl py-2">UI and APIs to support demonstration of integrations with NICE software.</p>

    </div>
  </div>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}